@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

.connect-section {
  padding: 60px 0;
  background-color: #001f3f;
  color: #ffffff;
  text-align: center;
}

.connect-section .section-title {
  font-size: 3rem;
  font-weight: bold;
  color: #ff6f61;
  margin-bottom: 40px;
}

.connect-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.connect-item p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #ffffff;
}

.connect-item a {
  color: #ffffff;
  text-decoration: none;
}

.connect-item a:hover {
  color: #ff6f61;
}

.connect-icon {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
  
  .connect-item p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 2rem;
  }

  .connect-item {
    margin-bottom: 15px;
  }

  .connect-item p {
    font-size: 0.9rem;
  }

  .connect-icon {
    font-size: 40px; /* Adjust icon size for smaller screens */
  }
}

/* Additional adjustments for extra small screens */
@media (max-width: 400px) {
  .section-title {
    font-size: 1.8rem;
  }

  .connect-item p {
    font-size: 0.8rem;
  }

  .connect-icon {
    font-size: 35px; /* Further adjust icon size for extra small screens */
  }
}
