@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

.education-section {
  position: relative;
  padding: 60px 0;
  background-color: #001f3f;
  color: #ffffff;
}

.education-title {
  font-size: 3rem;
  font-weight: bold;
  color: #ff6f61;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 1;
}

.education-card {
  background-color: #ffffff;
  color: #001f3f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 500px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.education-card .card-title {
  font-size: 1.5rem;
  color: #001f3f;
  font-weight: bold;
  margin-bottom: 10px;
}

.education-card .card-subtitle {
  font-size: 1.2rem;
  color: #001f3f;
  margin-top: 10px;
}

.education-card .card-text {
  font-size: 1rem;
  color: #001f3f;
  margin: 5px 0;
}

.education-card .cert-date {
  font-size: 1rem;
  color: #001f3f;
  text-align: left;
  font-weight: bold;
  margin: 5px 0;
}

.education-card .fyp-text {
  font-size: 1rem;
  color: #ff6f61;
  font-weight: bold;
  font-style: italic;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .education-card {
    height: auto;
  }
  .education-title {
    font-size: 2.5rem;
  }

  .education-card .card-title {
    font-size: 1.2rem;
  }

  .education-card .card-subtitle {
    font-size: 1rem;
  }

  .education-card .card-text {
    font-size: 0.9rem;
  }

  .education-card .cert-date {
    font-size: 0.9rem;
  }

  .education-card .fyp-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .education-card {
    height: auto;
  }
  .education-title {
    font-size: 2rem;
  }

  .education-card .card-title {
    font-size: 1rem;
  }

  .education-card .card-subtitle {
    font-size: 0.8rem;
  }

  .education-card .card-text {
    font-size: 0.8rem;
  }

  .education-card .cert-date {
    font-size: 0.8rem;
  }

  .education-card .fyp-text {
    font-size: 0.8rem;
  }
}
